body {
  margin-top: 20px;
  margin-right: 50px;
}

.link-to-page {
  float: right;
  margin: 0 2px 0 2px;
}

.list-style_none {
  list-style: none;
}

table,th,td{
  border: 1px solid grey;
  text-align:center;
}

th,td{
   padding:10px;
}
caption{
  font-size:20px;
  color:blue;
}


