<ul class="sidebar-nav list-group">
	{% if user.is_authenticated %}
    <li class="list-group-item">
      <h5>User: <strong>{{ user.first_name }} {{ user.last_name }}</strong></h5>
      <form action="{% url 'logout'%}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary">Log out</button>
      </form>
    </li>
  {% endif %}

  <br>

  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'cafe:index' %}">Home</a></li>
    <li class="list-group-item"><a href="{% url 'cafe:shift-list-view' %}">Shifts</a></li>
    {% if user.is_staff %}
      <li class="list-group-item"><a href="{% url 'cafe:barista-list-view' %}">Barista salary</a></li>
      <li class="list-group-item"><a href="{% url 'cafe:cafe-list-view' %}">Cafes Income</a></li>
    {% endif %}
  {% endif %}
</ul>
